@import "./../../../scss/tools.scss";
@import "./../../../scss/animations.scss";

.form-control {
    &.error {
        position: relative;
        input,
        textarea {
            border: 2px solid red;
        }
        span {
            position: absolute;
            bottom: 5px;
            font-size: 9px;
            line-height: 11px;
            color: red;
        }
    }
}

.formSummaryError {
    border: 2px solid red;
    padding: 5px;
    color: red;
    margin: 10px;
    width: fit-content;
}