@import "./../../scss/tools.scss";
.nav {
  grid-area: n;
  padding: 10px;
  background-color: var(--color-article-background);

  display: flex;
  flex-direction: column;

  color:  var(--color-text);

  margin-left: 130px;

  border-radius: 4px;
  height: max-content;
  a {
    text-decoration: none;
    padding: 20px 30px;

    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;

    color:  var(--color-text);
    border-top: 1px solid $content-border-color;
    &:first-child {
      border-top: none;
    }
    &:hover,
    &:focus,
    &:active, &.active {
      transition: 0.2s;
      opacity: 0.6;
      border-left: 4px solid var(--color-border);
    }
  }
}
