@import "fonts.scss";

$white: #fff;
$black: #3a3b3f;
$icon-color-yel: #ffc732;
$yellow-main: #f3c644;
$white: #fff;
$black-fr: #3a3b3f; //#000;
$dark-blue: #2e384e; // navbar

@mixin media-breakpoint-up($type) {
  @if $type == sm {
    @media screen and (min-width: 576px) {
      @content;
    }
  } @else if $type == md {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $type == lg {
    @media screen and (min-width: 992px) {
      @content;
    }
  } @else if $type == xl {
    @media screen and (min-width: 1200px) {
      @content;
    }
  } @else if $type == xxl {
    @media screen and (min-width: 1440px) {
      @content;
    }
  }
}

@mixin media-breakpoint-down($type) {
  @if $type == sm {
    @media screen and (max-width: 576px) {
      @content;
    }
  } @else if $type == md {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if $type == lg {
    @media screen and (max-width: 992px) {
      @content;
    }
  } @else if $type == xl {
    @media screen and (max-width: 1200px) {
      @content;
    }
  } @else if $type == xxl {
    @media screen and (max-width: 1440px) {
      @content;
    }
  }
}

.btn-call-us {
  border: 1px solid #596373;
  @include girloy-medium(16px, 19px);
  border-radius: 30px;
  padding: 13px 20px;
  color: $white;
  display: flex;
  align-items: center;
  position: relative;


  @include media-breakpoint-down(md) {
    border: none;
  }
  @include media-breakpoint-up(md) {
    width: 207px;
  }

  &:hover,
  &:focus,
  &:active {
    transition: 0.4s;
    color: #596373;
    cursor: pointer;
    .btn-call-us_text {
      color: #596373;
    }
  }
  &_text {
    padding-left: 40px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &:before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8' standalone='no'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg width='100%25' height='100%25' viewBox='0 0 1638 1646' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'%3e%3cg transform='matrix(4.16667,0,0,4.16667,0,0)'%3e%3cpath d='M23.862,88.282C24.819,77.641 28.901,68.763 36.581,61.082L66.343,31.321C70.979,26.845 76.101,24.524 81.061,24.524C85.94,24.524 90.901,26.845 95.46,31.481C100.819,36.442 105.862,41.641 111.3,47.16C114.022,49.961 116.819,52.763 119.62,55.641L143.46,79.481C148.421,84.442 150.979,89.481 150.979,94.442C150.979,99.402 148.421,104.442 143.46,109.402C140.979,111.883 138.499,114.442 136.022,116.922C128.58,124.442 121.62,131.563 113.94,138.363L113.542,138.762C106.901,145.402 107.94,151.723 109.542,156.524C109.62,156.762 109.702,156.922 109.78,157.16C115.94,171.961 124.499,186.043 137.862,202.844C161.862,232.442 187.14,255.402 214.98,273.082C218.421,275.32 222.101,277.082 225.542,278.844C228.741,280.442 231.702,281.961 234.343,283.641C234.659,283.801 234.902,283.961 235.222,284.121C237.863,285.481 240.421,286.121 242.98,286.121C249.382,286.121 253.542,282.043 254.902,280.684L284.82,250.762C289.46,246.121 294.499,243.641 299.46,243.641C305.542,243.641 310.499,247.402 313.62,250.762L361.863,298.922C371.46,308.524 371.382,318.922 361.62,329.082C358.261,332.684 354.741,336.121 350.98,339.723C345.382,345.16 339.542,350.762 334.261,357.082C325.061,367 314.101,371.641 299.941,371.641C298.581,371.641 297.14,371.563 295.78,371.481C269.542,369.801 245.14,359.563 226.82,350.844C177.061,326.762 133.382,292.602 97.14,249.242C67.3,213.32 47.222,179.883 33.94,144.043C25.702,122.043 22.581,104.363 23.862,88.282ZM81.94,261.563C120.022,307.082 165.862,342.922 218.183,368.281C238.101,377.723 264.741,388.922 294.421,390.844C296.261,390.922 298.023,391 299.863,391C319.78,391 335.78,384.121 348.82,369.961C348.902,369.883 349.061,369.723 349.14,369.563C353.78,363.961 359.062,358.922 364.581,353.563C368.343,349.961 372.183,346.203 375.863,342.363C392.902,324.602 392.902,302.043 375.702,284.844L327.62,236.762C319.46,228.281 309.702,223.801 299.46,223.801C289.222,223.801 279.382,228.281 270.98,236.684L242.343,265.32C239.702,263.801 236.98,262.442 234.421,261.16C231.222,259.563 228.261,258.043 225.62,256.363C199.542,239.801 175.862,218.203 153.222,190.442C141.78,175.961 134.101,163.801 128.741,151.402C136.261,144.602 143.3,137.481 150.101,130.524C152.499,128.043 154.979,125.563 157.46,123.082C166.101,114.442 170.741,104.442 170.741,94.282C170.741,84.121 166.183,74.121 157.46,65.481L133.62,41.641C130.819,38.845 128.183,36.121 125.46,33.321C120.183,27.884 114.659,22.282 109.222,17.243C100.979,9.161 91.3,4.922 81.061,4.922C70.901,4.922 61.14,9.161 52.581,17.321L22.659,47.243C11.78,58.121 5.62,71.321 4.342,86.602C2.819,105.723 6.342,126.043 15.46,150.602C29.46,188.602 50.581,223.883 81.94,261.563Z' style='fill:white;fill-rule:nonzero;'/%3e%3cpath d='M23.862,88.282C24.819,77.641 28.901,68.763 36.581,61.082L66.343,31.321C70.979,26.845 76.101,24.524 81.061,24.524C85.94,24.524 90.901,26.845 95.46,31.481C100.819,36.442 105.862,41.641 111.3,47.16C114.022,49.961 116.819,52.763 119.62,55.641L143.46,79.481C148.421,84.442 150.979,89.481 150.979,94.442C150.979,99.402 148.421,104.442 143.46,109.402C140.979,111.883 138.499,114.442 136.022,116.922C128.58,124.442 121.62,131.563 113.94,138.363L113.542,138.762C106.901,145.402 107.94,151.723 109.542,156.524C109.62,156.762 109.702,156.922 109.78,157.16C115.94,171.961 124.499,186.043 137.862,202.844C161.862,232.442 187.14,255.402 214.98,273.082C218.421,275.32 222.101,277.082 225.542,278.844C228.741,280.442 231.702,281.961 234.343,283.641C234.659,283.801 234.902,283.961 235.222,284.121C237.863,285.481 240.421,286.121 242.98,286.121C249.382,286.121 253.542,282.043 254.902,280.684L284.82,250.762C289.46,246.121 294.499,243.641 299.46,243.641C305.542,243.641 310.499,247.402 313.62,250.762L361.863,298.922C371.46,308.524 371.382,318.922 361.62,329.082C358.261,332.684 354.741,336.121 350.98,339.723C345.382,345.16 339.542,350.762 334.261,357.082C325.061,367 314.101,371.641 299.941,371.641C298.581,371.641 297.14,371.563 295.78,371.481C269.542,369.801 245.14,359.563 226.82,350.844C177.061,326.762 133.382,292.602 97.14,249.242C67.3,213.32 47.222,179.883 33.94,144.043C25.702,122.043 22.581,104.363 23.862,88.282ZM81.94,261.563C120.022,307.082 165.862,342.922 218.183,368.281C238.101,377.723 264.741,388.922 294.421,390.844C296.261,390.922 298.023,391 299.863,391C319.78,391 335.78,384.121 348.82,369.961C348.902,369.883 349.061,369.723 349.14,369.563C353.78,363.961 359.062,358.922 364.581,353.563C368.343,349.961 372.183,346.203 375.863,342.363C392.902,324.602 392.902,302.043 375.702,284.844L327.62,236.762C319.46,228.281 309.702,223.801 299.46,223.801C289.222,223.801 279.382,228.281 270.98,236.684L242.343,265.32C239.702,263.801 236.98,262.442 234.421,261.16C231.222,259.563 228.261,258.043 225.62,256.363C199.542,239.801 175.862,218.203 153.222,190.442C141.78,175.961 134.101,163.801 128.741,151.402C136.261,144.602 143.3,137.481 150.101,130.524C152.499,128.043 154.979,125.563 157.46,123.082C166.101,114.442 170.741,104.442 170.741,94.282C170.741,84.121 166.183,74.121 157.46,65.481L133.62,41.641C130.819,38.845 128.183,36.121 125.46,33.321C120.183,27.884 114.659,22.282 109.222,17.243C100.979,9.161 91.3,4.922 81.061,4.922C70.901,4.922 61.14,9.161 52.581,17.321L22.659,47.243C11.78,58.121 5.62,71.321 4.342,86.602C2.819,105.723 6.342,126.043 15.46,150.602C29.46,188.602 50.581,223.883 81.94,261.563Z' style='fill:none;'/%3e%3c/g%3e%3c/svg%3e ");
    width: 15px;
    height:15px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
    content: "";
    display: block;
    @include media-breakpoint-up(md) {
      width: 20px;
      height: 20px;
      left: 12px;
      top: 12px;
      background-size: contain;
    }
  }
  &:after {
    background-color: #596373;
    content: "";
    position: absolute;

    display: block;
    border-radius: 50px;
    left: 0px;
    top: 0px;
    width: 35px;
    height: 35px;
    @include media-breakpoint-up(md) {
      width: 45px;
      height: 45px;
    }
  }
}

.footer-btn-call-us {
  border: 1px solid #596373;
  @include girloy-medium(10px, 19px);
  border-radius: 30px;
  padding: 7px 20px 7px 30px;
  color: $white;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 15px;
    padding: 13px 20px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 16px;
  }

  &:hover,
  &:focus,
  &:active {
    transition: 0.4s;
    color: #596373;
    cursor: pointer;
    .btn-call-us_text {
      color: #596373;
    }
  }
  &_text {
    padding-left: 40px;
  }

  &:before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8' standalone='no'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg width='100%25' height='100%25' viewBox='0 0 1638 1646' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'%3e%3cg transform='matrix(4.16667,0,0,4.16667,0,0)'%3e%3cpath d='M23.862,88.282C24.819,77.641 28.901,68.763 36.581,61.082L66.343,31.321C70.979,26.845 76.101,24.524 81.061,24.524C85.94,24.524 90.901,26.845 95.46,31.481C100.819,36.442 105.862,41.641 111.3,47.16C114.022,49.961 116.819,52.763 119.62,55.641L143.46,79.481C148.421,84.442 150.979,89.481 150.979,94.442C150.979,99.402 148.421,104.442 143.46,109.402C140.979,111.883 138.499,114.442 136.022,116.922C128.58,124.442 121.62,131.563 113.94,138.363L113.542,138.762C106.901,145.402 107.94,151.723 109.542,156.524C109.62,156.762 109.702,156.922 109.78,157.16C115.94,171.961 124.499,186.043 137.862,202.844C161.862,232.442 187.14,255.402 214.98,273.082C218.421,275.32 222.101,277.082 225.542,278.844C228.741,280.442 231.702,281.961 234.343,283.641C234.659,283.801 234.902,283.961 235.222,284.121C237.863,285.481 240.421,286.121 242.98,286.121C249.382,286.121 253.542,282.043 254.902,280.684L284.82,250.762C289.46,246.121 294.499,243.641 299.46,243.641C305.542,243.641 310.499,247.402 313.62,250.762L361.863,298.922C371.46,308.524 371.382,318.922 361.62,329.082C358.261,332.684 354.741,336.121 350.98,339.723C345.382,345.16 339.542,350.762 334.261,357.082C325.061,367 314.101,371.641 299.941,371.641C298.581,371.641 297.14,371.563 295.78,371.481C269.542,369.801 245.14,359.563 226.82,350.844C177.061,326.762 133.382,292.602 97.14,249.242C67.3,213.32 47.222,179.883 33.94,144.043C25.702,122.043 22.581,104.363 23.862,88.282ZM81.94,261.563C120.022,307.082 165.862,342.922 218.183,368.281C238.101,377.723 264.741,388.922 294.421,390.844C296.261,390.922 298.023,391 299.863,391C319.78,391 335.78,384.121 348.82,369.961C348.902,369.883 349.061,369.723 349.14,369.563C353.78,363.961 359.062,358.922 364.581,353.563C368.343,349.961 372.183,346.203 375.863,342.363C392.902,324.602 392.902,302.043 375.702,284.844L327.62,236.762C319.46,228.281 309.702,223.801 299.46,223.801C289.222,223.801 279.382,228.281 270.98,236.684L242.343,265.32C239.702,263.801 236.98,262.442 234.421,261.16C231.222,259.563 228.261,258.043 225.62,256.363C199.542,239.801 175.862,218.203 153.222,190.442C141.78,175.961 134.101,163.801 128.741,151.402C136.261,144.602 143.3,137.481 150.101,130.524C152.499,128.043 154.979,125.563 157.46,123.082C166.101,114.442 170.741,104.442 170.741,94.282C170.741,84.121 166.183,74.121 157.46,65.481L133.62,41.641C130.819,38.845 128.183,36.121 125.46,33.321C120.183,27.884 114.659,22.282 109.222,17.243C100.979,9.161 91.3,4.922 81.061,4.922C70.901,4.922 61.14,9.161 52.581,17.321L22.659,47.243C11.78,58.121 5.62,71.321 4.342,86.602C2.819,105.723 6.342,126.043 15.46,150.602C29.46,188.602 50.581,223.883 81.94,261.563Z' style='fill:white;fill-rule:nonzero;'/%3e%3cpath d='M23.862,88.282C24.819,77.641 28.901,68.763 36.581,61.082L66.343,31.321C70.979,26.845 76.101,24.524 81.061,24.524C85.94,24.524 90.901,26.845 95.46,31.481C100.819,36.442 105.862,41.641 111.3,47.16C114.022,49.961 116.819,52.763 119.62,55.641L143.46,79.481C148.421,84.442 150.979,89.481 150.979,94.442C150.979,99.402 148.421,104.442 143.46,109.402C140.979,111.883 138.499,114.442 136.022,116.922C128.58,124.442 121.62,131.563 113.94,138.363L113.542,138.762C106.901,145.402 107.94,151.723 109.542,156.524C109.62,156.762 109.702,156.922 109.78,157.16C115.94,171.961 124.499,186.043 137.862,202.844C161.862,232.442 187.14,255.402 214.98,273.082C218.421,275.32 222.101,277.082 225.542,278.844C228.741,280.442 231.702,281.961 234.343,283.641C234.659,283.801 234.902,283.961 235.222,284.121C237.863,285.481 240.421,286.121 242.98,286.121C249.382,286.121 253.542,282.043 254.902,280.684L284.82,250.762C289.46,246.121 294.499,243.641 299.46,243.641C305.542,243.641 310.499,247.402 313.62,250.762L361.863,298.922C371.46,308.524 371.382,318.922 361.62,329.082C358.261,332.684 354.741,336.121 350.98,339.723C345.382,345.16 339.542,350.762 334.261,357.082C325.061,367 314.101,371.641 299.941,371.641C298.581,371.641 297.14,371.563 295.78,371.481C269.542,369.801 245.14,359.563 226.82,350.844C177.061,326.762 133.382,292.602 97.14,249.242C67.3,213.32 47.222,179.883 33.94,144.043C25.702,122.043 22.581,104.363 23.862,88.282ZM81.94,261.563C120.022,307.082 165.862,342.922 218.183,368.281C238.101,377.723 264.741,388.922 294.421,390.844C296.261,390.922 298.023,391 299.863,391C319.78,391 335.78,384.121 348.82,369.961C348.902,369.883 349.061,369.723 349.14,369.563C353.78,363.961 359.062,358.922 364.581,353.563C368.343,349.961 372.183,346.203 375.863,342.363C392.902,324.602 392.902,302.043 375.702,284.844L327.62,236.762C319.46,228.281 309.702,223.801 299.46,223.801C289.222,223.801 279.382,228.281 270.98,236.684L242.343,265.32C239.702,263.801 236.98,262.442 234.421,261.16C231.222,259.563 228.261,258.043 225.62,256.363C199.542,239.801 175.862,218.203 153.222,190.442C141.78,175.961 134.101,163.801 128.741,151.402C136.261,144.602 143.3,137.481 150.101,130.524C152.499,128.043 154.979,125.563 157.46,123.082C166.101,114.442 170.741,104.442 170.741,94.282C170.741,84.121 166.183,74.121 157.46,65.481L133.62,41.641C130.819,38.845 128.183,36.121 125.46,33.321C120.183,27.884 114.659,22.282 109.222,17.243C100.979,9.161 91.3,4.922 81.061,4.922C70.901,4.922 61.14,9.161 52.581,17.321L22.659,47.243C11.78,58.121 5.62,71.321 4.342,86.602C2.819,105.723 6.342,126.043 15.46,150.602C29.46,188.602 50.581,223.883 81.94,261.563Z' style='fill:none;'/%3e%3c/g%3e%3c/svg%3e ");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
    content: "";
    display: flex;

    background-size: 70%;

    @include media-breakpoint-up(xl) {
      width: 20px;
      height: 20px;
      left: 12px;
      top: 12px;
      background-size: contain;
    }
  }
  &:after {
    background-color: #596373;
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50px;
    left: 0px;
    top: 0px;

    @include media-breakpoint-up(xl) {
      width: 45px;
      height: 45px;
    }
  }
}
.btn-main-block {
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
}
.btn-main {
  position: absolute;
  color: $black;
  background: rgb(251, 191, 50);
  background: linear-gradient(
    180deg,
    rgba(251, 191, 50, 1) 0%,
    rgba(250, 188, 46, 1) 10%,
    rgba(249, 185, 41, 1) 20%,
    rgba(246, 175, 27, 1) 30%,
    rgba(246, 175, 27, 1) 40%,
    rgba(233, 161, 17, 1) 50%,
    rgba(233, 158, 10, 1) 60%,
    rgba(241, 161, 6, 1) 70%,
    rgba(228, 150, 3, 1) 81%,
    rgba(233, 156, 3, 1) 90%,
    rgba(247, 190, 2, 1) 100%
  );

  border: 1px solid #fcd371;
  padding: 17px 30px;
  border-radius: 30px;
  @include media-breakpoint-down(lg) {
    @include girloy-semibold(14px, 18px);
  }
  @include media-breakpoint-up(lg) {
    @include girloy-semibold(18px, 24px);
  }
  -webkit-box-shadow: -1px 3px 2px 0px rgba(247, 162, 90, 1);
  -moz-box-shadow: -1px 3px 2px 0px rgba(247, 162, 90, 1);
  box-shadow: -1px 3px 2px 0px rgba(247, 162, 90, 1);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  opacity: 1;
  &:hover,
  &:focus {
    opacity: 0;
    border: 1px solid #ffe84d;
    transition: 0.4s ease-in-out;
    color: $black;
    text-decoration: none;
    background-image: linear-gradient(to top, #ffde00, #ffe348);
    -webkit-box-shadow: -1px 3px 2px 0px rgb(255, 222, 0);
    -moz-box-shadow: -1px 3px 2px 0px rgb(255, 222, 0);
    box-shadow: -1px 3px 2px 0px rgb(255, 222, 0);
  }
  &:active {
    border: 1px solid #f9b481;
    transition: 0.4s ease-in-out;
    color: $black;
    text-decoration: none;
    background-image: linear-gradient(to top, #ee741c, #f69149);
    -webkit-box-shadow: -1px 3px 2px 0px rgb(244, 120, 31);
    -moz-box-shadow: -1px 3px 2px 0px rgb(244, 120, 31);
    box-shadow: -1px 3px 2px 0px rgb(244, 120, 31);
  }

  @media screen and (max-width: 991px) {
    font-size: 14px;
    line-height: 16px;
    padding: 16px 40px;
  }

  &.py-little {
    padding: 17px 40px;
  }
  &.btn-full {
    width: 100%;
    text-align: center;
  }
}

.btn-main-open {
  position: absolute;
  color: $black;
  background: rgb(251, 191, 50);
  background: linear-gradient(
    180deg,
    rgba(251, 191, 50, 1) 0%,
    rgba(250, 188, 46, 1) 10%,
    rgba(249, 185, 41, 1) 20%,
    rgba(246, 175, 27, 1) 30%,
    rgba(246, 175, 27, 1) 40%,
    rgba(233, 161, 17, 1) 50%,
    rgba(233, 158, 10, 1) 60%,
    rgba(241, 161, 6, 1) 70%,
    rgba(228, 150, 3, 1) 81%,
    rgba(233, 156, 3, 1) 90%,
    rgba(247, 190, 2, 1) 100%
  );

  border: 1px solid #fcd371;
  padding: 17px 30px;
  border-radius: 30px;
  @include media-breakpoint-down(lg) {
    @include girloy-semibold(14px, 18px);
  }
  @include media-breakpoint-up(lg) {
    @include girloy-semibold(18px, 24px);
  }
  -webkit-box-shadow: -1px 3px 2px 0px rgba(247, 162, 90, 1);
  -moz-box-shadow: -1px 3px 2px 0px rgba(247, 162, 90, 1);
  box-shadow: -1px 3px 2px 0px rgba(247, 162, 90, 1);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  opacity: 0;
  &:hover,
  &:focus {
    opacity: 1;
    border: 1px solid #ffe84d;
    transition: 0.4s ease-in-out;
    color: $black;
    text-decoration: none;
    background-image: linear-gradient(to top, #ffde00, #ffe348);
    -webkit-box-shadow: -1px 3px 2px 0px rgb(255, 222, 0);
    -moz-box-shadow: -1px 3px 2px 0px rgb(255, 222, 0);
    box-shadow: -1px 3px 2px 0px rgb(255, 222, 0);
  }
  &:active {
    opacity: 1;
    border: 1px solid #f9b481;
    transition: 0.4s ease-in-out;
    color: $black;
    text-decoration: none;
    background-image: linear-gradient(to top, #ee741c, #f69149);
    -webkit-box-shadow: -1px 3px 2px 0px rgb(244, 120, 31);
    -moz-box-shadow: -1px 3px 2px 0px rgb(244, 120, 31);
    box-shadow: -1px 3px 2px 0px rgb(244, 120, 31);
  }

  @media screen and (max-width: 991px) {
    font-size: 14px;
    line-height: 16px;
    padding: 16px 40px;
  }

  &.py-little {
    padding: 17px 40px;
  }
  &.btn-full {
    width: 100%;
    text-align: center;
  }
}
