.prices-form {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.buttons-block .form-block-inputsubmit {
  width: 49.5%;

  @media screen and (max-width: 575.98px) {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
  }

  @media screen and (min-width: 576px) and (max-width: 991.98px) {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    height: 50px;
  }

  @media screen and (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 15px;
    height: 50px;
  }
}

.buttons-block .form-block-additionalbutton {
  width: 49.5%;
  color: #2e384e;
  border: 2px solid #2e384e;
  background: none;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;

  @media screen and (max-width: 575.98px) {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    height: 50px;
  }

  @media screen and (min-width: 576px) and (max-width: 991.98px) {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    height: 50px;
  }

  @media screen and (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 15px;
    height: 50px;
  }
}

.vacancy-form-block {
  margin: 60px auto;

  @media screen and (max-width: 575.98px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.vacancy-form-block .row {
  border: 1px solid #2e384e;
  margin-left: 0;
  margin-right: 0;
}
.vacancy-form-block h2 {
  font-family: BebasNeue;
  font-size: 48px;
  text-align: center;
  padding: 50px 0 0;
}
.vacancy-form-block p {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.vacancy-form-block form {
  margin-bottom: 35px;
}
.vacancy-form-block-inputs,
.prices-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.vacancy-form-block .form-block-inputtext {
  width: 49.5%;
  height: 50px;

  @media screen and (max-width: 575.98px) {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
  }
}
.vacancy-form-block .form-block-inputsubmit {
  width: 49.5%;
  height: 50px;

  @media screen and (max-width: 575.98px) {
    width: 100%;
  }
}
.vacancy-form-block .form-block-acceptrules {
  color: #717171 !important;
}


.ui-autocomplete {
  z-index: 300;
  border: 1px solid #838fa6;
  font-size: 20px;

  li {
    background: #fff;
    padding: 5px 15px;

    &:hover {
      background: #f6f8fc;
    }
  }
}