
// --- new ---//

input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0; /* iOS */

    height: 12px;
    border-radius: 50px;
    -webkit-appearance: none;
    padding: 5px;
    margin: 10px 0;
    width: 95%;
    background: none;
}
input[type="range"]:focus {
    outline: none;
}

::-webkit-slider-runnable-track {
    background: #fff;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 20px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #fab000;
    border: 6px solid #ffffff; /* 1 */
    border-radius: 50px;

    // box-shadow: 1px 1px 5px #FAB000;
    //     border: 6px solid #ffffff;
    background: #fab000;
    cursor: pointer;
    position: relative;

}

::-moz-range-track {
    height:20px;
    background: #fff;
    border-radius: 50px;
}

::-moz-range-thumb {
    background: #fff;
    height:20px;
    width: 20px;
    border: 3px solid #fff;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw #fab000;
    box-sizing: border-box;
    border-radius: 50px;
}

::-ms-fill-lower {
    background: #fab000;
}

::-ms-thumb {
    background: #fff;
    border: 5px solid #fff;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border-radius: 50px;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: #fff;
    color: transparent;
    height: 20px;
    border: none;
    border-radius: 50px;
}

::-ms-tooltip {
    display: none;
}
