@mixin gilroy-bold($font-size, $line-height) {
    font-family: "Gilroy";
    font-weight: bold;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
}

@import "tools";

.slider {
    width: 100%;
    height: 10px;
    position: relative;
    margin: 75px auto;
    background: #ffffff;

    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;

    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}

.slider .bar {
    width: 100%;
    height: 5px;
    background: #fab000;
    position: relative;
    top: 2px;
    left: 0px;

    background: #fab000;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border: none;
}

.slider .highlight {
    position: absolute;

    top: 0px;
    right: 0px;

    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;

    background: #fff;
    height: 10px;
    width: calc(50% - 4px);
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: black;
    height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: transparent;
    width: 10px;
    height: 10px;
    box-shadow: 1px 5px 10px -1px rgba(0, 0, 0, 0.2), -25px 0 0 10px rgba(90, 184, 6, 0.5),
        -75px 0 0 10px rgba(90, 184, 6, 0.5), -125px 0 0 10px rgba(90, 184, 6, 0.5),
        -175px 0 0 10px rgba(90, 184, 6, 0.5), -225px 0 0 10px rgba(90, 184, 6, 0.5),
        -275px 0 0 10px rgba(90, 184, 6, 0.5), -325px 0 0 10px rgba(90, 184, 6, 0.5);
    z-index: 2;

    top:2px;
}

// input[type="range"]:hover ~ .rangevalue,
// input[type="range"]:active ~ .rangevalue {
//     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
//     filter: alpha(opacity=100);
//     opacity: 1;
// }

/* Tool Tip */
.rangevalue {
    color: #fff;
    @include gilroy-bold(12px, 40px);

    @include media-breakpoint-up(lg) {
        @include gilroy-bold(20px, 40px);
    }
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    // display: block;
    border-radius: 4px;
    color: #fff;
    // margin: 20px 0;
    position: absolute;
    left: calc(44.5% - 30px);
    padding: 6px 20px;
    background: rgba(0, 0, 0, 0.13);
    height: 30px;
    // width: 100px;
    width: auto;
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 1;
    // ZDES
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: -40px;
    
}

$maxValueFirstInput: 37;
@for $i from 0 through $maxValueFirstInput {
    .rangevalue.rangevalueS-position-#{$i} {
        left: (100% / $maxValueFirstInput * $i);
        margin-left: -15px;
    }
}

$maxValueFirstInput: 100;
@for $i from 0 through $maxValueFirstInput {
    .rangevalue.rangevalueD-position-#{$i} {
        left: (100% / $maxValueFirstInput * $i);
        margin-left: -15px;  
    }
}



input[type="range"] {
    height: 33px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: none;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #fab000;
    border-radius: 50px;
    border: 0px solid #000101;
}
input[type="range"]::-webkit-slider-thumb {
    box-shadow: 1px 1px 5px #141414;
    border: 6px solid #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #fab000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #fab000;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #fab000;
    border-radius: 50px;
    border: 0px solid #000101;

}
input[type="range"]::-moz-range-thumb {
    box-shadow: 1px 1px 5px #141414;
    border: 6px solid #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #fab000;
    cursor: pointer;
    
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background: #fab000;
    border: 0px solid #000101;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
    background: #fab000;
    border: 0px solid #000101;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 5px #141414;
    border: 6px solid #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #fab000;
    cursor: pointer;

}
input[type="range"]:focus::-ms-fill-lower {
    background: #fab000;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #fab000;
}

