.prices-block-right-img {
  margin-bottom: 25px;
  opacity: .65;
  transition: all .3s;

  .isDesktop &:hover {
    opacity: 1;
  }
}
.prices-block-table {
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
  color: #2e384e;
}
.prices-block-table th,
.prices-block-table td {
  background: #eef0f3;
  border: 2px solid #ffffff;
  padding: 20px;

  @media screen and (max-width: 575.98px) {
    font-size: 12px;
    padding: 8px;
  }

  @media screen and (min-width: 576px) and (max-width: 991.98px) {
    font-size: 14px;
    padding: 8px;
  }

  &:last-child {
    white-space: nowrap;

    @media screen and (max-width: 575.98px) {
      text-align: center;
    }

    @media screen and (min-width: 576px) and (max-width: 991.98px) {
      text-align: center;
    }
  }
}
.prices-block-table th {
  background: #e1e5ec;
  border-top: 2px solid #2e384e;
}
.prices-block-table th h3 {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
}