@import "./tools.scss";
@import "./variables.scss";

.btn {
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    @include hover-focus-active {
        outline: none;
        box-shadow: none;
        border: none;
    }
}

.btn.btn-main-action {
    background-color: var(--btn-bg-color);
    border-radius: 4px;
    color:  var(--btn-font-color);
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 20px;
    border: 1px solid var(--btn-border-color);

    @include hover-focus-active {
        opacity: 0.6;
    }
}
@include btn-main-hover-focus(
    ".btn.btn-main-action",
    var(--btn-bg-color),
    var(--btn-border-color),
    var(--btn-font-color),
    var(--btn-bg-color-hover),
    var(--btn-border-color-hover),
    var(--btn-font-color-hover),
    0.4s
);

.btn.btn-second-action {
    background-color: var(--btn-white-bg-color);
    border: 1px solid var(--btn-white-border-color);
    color: var(--btn-font-color);

    border-radius: 4px;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 20px;
}

@include btn-main-hover-focus(
    ".btn.btn-second-action",
    var(--btn-white-bg-color),
    var(--btn-white-border-color),
    var(--btn-second-font-color),
    var(--btn-white-bg-color-hover),
    var(--btn-white-border-color-hover),
    var(--btn-second-font-color-hover),
    0.4s
);

.btn.btn-like {
    background: $btn-white-bg-color;
    color: $main-text-color;
    border: 1px solid #f4f4f4;
    border-radius: 4px;

    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 20px;
}

@include btn-main-hover-focus(
    ".btn.btn-like",
    $btn-white-bg-color,
    $btn-special-border-color,
    $btn-special-font-color,
    $btn-white-bg-color-hover,
    $btn-special-border-color-hover,
    $btn-special-font-color-hover,
    0.4s
);
